@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
}



/* main body styling */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: hsl(232, 13%, 33%);
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    min-height: 100vh;
}

body::before {
    content: '';
    background-image: url('images/bg-top.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    background-position: top right;
    z-index: -1;  
}

body::after {
    content: '';
    background-image: url('images/bg-bottom.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    background-position: bottom left;
    z-index: -1;  
}


.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1{
    color: hsl(233, 13%, 49%);
}


.card-price {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 10px;
    color: hsl(232, 13%, 33%);
}


/* javascript behaviour */

.card-price .monthly {
    display: none;
}

.show-monthly .card-price .monthly {
    display: block;
}

.show-monthly .card-price .annually {
    display: none;
}


/* left and right price cards */

.card-price h4 {
    margin-top: 0;
}

.card-price p {
    font-size: 4em;
    margin: 15px 0;
    width: 250px;

}

.card-price ul {
    list-style-type: none;
    padding: 0;
    border-top: 1px solid hsl(233, 13%, 49%);
}

.card-price ul li {
    padding: 15px 0;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    font-size: 14px;

}

.card-price button {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* purple middle card styling */

.card-price.pro-standard {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;   
}


.card-price.pro-standard button {
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);   
}


.card-price.pro-standard ul,
.card-price.pro-standard ul li{
    border-color: #f0f0f0;
}

.card-price.pro-standard p {
    color: white;
}


/* toggle styling */

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(234, 14%, 74%);
    margin-bottom: 40px;
}

.toggle-container label {
    width: 60px;
    height: 30px;
    background-color: white;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    display: inline-block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.toggle-container input {
    position: absolute;
    left: -9999px;
}

.toggle-container input:checked + label .ball {
    transform: translateX(30px);
}

.toggle-container label .ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.4s ease;
}


/* responsiveness */

@media screen and (max-width: 930px) {
    .flex {
        flex-direction: column;
    }
    .card-price p {
        padding: 20px;
        
    }

}





